.nav {
  display: flex;
  justify-content: flex-end;
  /* padding: 20px 0; */
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 20px;
}

.nav p {
  margin-right: 50px;
  color: black;
  list-style-type: none;
  font-size: 18px;
}

.nav p:hover {
  opacity: 0.5;
  cursor: pointer;
}

.nameNav {
  font-size: 25px;
  width: 200px;
  color: black;
  margin-right: 850px;
}

@media (max-width: 1000px) {
  .navSmaller {
    margin: 0 50px 0 50px;
  }
}
